@import "_nullstyle.scss";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
//////////////////////////
.wrapper {
   background-color: rgb(173, 171, 171);
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.btn {
   margin-left: 20px;
   margin-right: 20px;
   padding: 10px 20px;
   border-radius: 3px;
   font-size: 18px;
   font-weight: 700;
   background-color: #000;
   color: #fff;
   letter-spacing: 1.2px;
}

.shadow {
   box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.8);
 }
